body {
    background-color: #182628;
}

#box {
    display: flex;
    justify-content: space-around;
    

    background-color: #182628;

    border: 1px solid yellow;

    height: 51em;


    
}

#container {
    display: grid; 
    justify-content: center;


    grid-template-columns: repeat(64, 12px [col-start]);
    grid-template-rows: repeat(64, 12px [row-start]);

    padding: 0.8em;
    margin-top: 0.1rem;


    border: 5px solid #3B945E;

    width: 50em;
    height: 48em;
}

.cell {
    border: 0.1px solid #182628;

    font-size: 4px;
}



#btnArea, #optionsArea {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-shrink: 3;
    width: 8em;
    height: auto;
    justify-content: flex-start;

    padding: 1em;

    border: 1px solid yellow;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: #66FCF1;

    height: 5em;
}