@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background-color: #182628;
}

#box {
    display: flex;
    justify-content: space-around;
    background-color: #182628;
    height: 51em;*/
}
.slider {
    max-width: 50%;
    max-height: 50%;
}
#container {
    display: grid; 
    justify-content: center;
    margin-top: 0.1rem;
    width: 35vw;
    height: 35vw;
    background-color: #182628;
    border: 1px solid #66FCF1;
}
button {
    width: 15em;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: color .6s ease;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}
button {
    -webkit-filter: brightness(100%);
    brightness(100%);
}
button:hover {
    -webkit-filter: brightness(70%);
    brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.clearBtn {
    background: red;
}
.resolutionSmall, .resolutionMed, .resolutionLarge {
    background: #66FCF1;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.indigo {
    background: indigo;
}
.violet {
    background: violet;
}
.orange {
    background: orange;
}
.black {
    background: black;
    color: white;
}
.white {
    background: white;
}
#btnArea, #optionsArea {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-shrink: 3;
    width: 8em;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #66FCF1;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 2em;
}
.options {
    padding: 1em;
}
#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: #66FCF1;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    height: 2em;
}
.squagilli {
    color: grey;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 920px) {
   :root {
    --content-width: 100px;
   } 
   #box {
       display: flex;
       flex-flow: column nowrap;
       justify-content: flex-start;
       height: 100vh;
   }
   #container {
    display: grid; 
    justify-content: center;
    align-self: center;
    padding: 0.8em;
    margin-top: 0.1rem;
    width: 70vw;
    height: 70vw;
    background-color: #182628;
}
#btnArea, #optionsArea {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 3;
    width: 8em;
    height: auto;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #66FCF1;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 1em;
}
#btnArea {
    flex-flow: row wrap;
}
#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;
    color: #66FCF1;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 0.3em;
    height: 1em;
}
.sig {
    margin-top: 450px;
    padding: 1em;
}
}